<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link data-th-href="@{/css/bootstrap.css}" rel="stylesheet">
<link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>

<body onload="run()">
	<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">WEBFLUX</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExample06" aria-controls="navbarsExample06"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample06">
				<ul class="navbar-nav mr-auto mb-2 mb-xl-0">
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/index2">Index2</a></li>
					<li class="nav-item"><a class="nav-link" href="/indexlive">LiveFeed</a></li>
					<li class="nav-item"><a class="nav-link" href="/indexlive2">LiveFeed2</a></li>
					<li class="nav-item"><a class="nav-link" href="/indexlive3">LiveFeed3</a></li>
					<li class="nav-item"><a class="nav-link" href="/indexlive4">LiveFeed4</a></li>
					<li class="nav-item"><a class="nav-link" href="/indexlive5">LiveFeed5</a></li>
					<li class="nav-item"><a class="nav-link" href="/crud">CRUD</a></li>
					<li class="nav-item"><a class="nav-link" target="_blank"
						href="/swagger-ui/">SwaggerUI</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown06"
						data-toggle="dropdown" aria-expanded="false">Streams</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown06">
							<li><a class="dropdown-item" target="_blank" href="/api/todo/stream">Stream</a></li>
							<li><a class="dropdown-item" target="_blank" href="/api/todos/sse">ServerSentEvents</a></li>
						</ul></li>
				</ul>
				<form>
					<input class="form-control" type="text" placeholder="Search"
						aria-label="Search">
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div id="title">
			<h4>Spring WebFlux Reactive Todo - LiveFeed - WebSocket Messages</h4>
		</div>

		<div class="row" id="myDIV">
			<table id="todos" class="table table-sm table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Description</th>
						<th>Completed?</th>
					</tr>
				</thead>
				<tbody>
					<tr class="result" data-th-each="todo : ${todos}">
					</tr>
				</tbody>
			</table>
		</div>


	</div>

</body>
<script type="text/javascript">
	function run() {

		var commentTable = document.getElementById("todos");

		var myWebSocket = new WebSocket("ws://localhost:8080/websocket/todo");
		myWebSocket.onmessage = function(msg) {
			//console.log("message: " + msg.data.toString());
			var row = commentTable.getElementsByTagName("tbody")[0]
					.insertRow(0);
			var entryArray = msg.data.toString().split(",");
			var cell0 = row.insertCell(0);
			var cell1 = row.insertCell(1);
			var cell2 = row.insertCell(2);
			cell0.className = "id";
			cell0.innerHTML = entryArray[0];
			cell1.className = "text";
			cell1.innerHTML = entryArray[1];
			cell2.className = "completed";
			cell2.innerHTML = entryArray[2];
		}
	}
</script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</html>