<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link data-th-href="@{/css/bootstrap.css}" rel="stylesheet">
<link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

	<div class="container">

		<div class="row">
			<div id="title">
				<h1>Spring WebFlux Reactive Todo</h1>
			</div>
			<table id="allappTodos" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Description</th>
						<th>Completed?</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr class="result" data-th-each="todo : ${todos}">
						<td>[[${todo.id}]]</td>
						<td>[[${todo.text}]]</td>
						<td>[[${todo.completed}]]</td>
						<td><button type="button" th:onclick="|deleteRecord(${todo.id})|" class="btn btn-sm btn-danger">X</button></td>
						
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</body>
<script type="text/javascript">
function deleteRecord(id) {
	var url="/api/todo/" + id;
	alert('Hello, This operation will delete Todo with ID :: ' + id);
	if (confirm("Are you sure?")) 
	 fetch(url , {
	           method: 'DELETE',headers: {'Accept': 'application/json'}
	       })
	}
</script>
</html>