<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link data-th-href="@{/css/bootstrap.css}" rel="stylesheet">
<link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">WEBFLUX</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExample06" aria-controls="navbarsExample06"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample06">
				<ul class="navbar-nav mr-auto mb-2 mb-xl-0">
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/index2">Index2</a></li>
					<li class="nav-item"><a class="nav-link" href="/crud"
						tabindex="-1" aria-disabled="true">CRUD</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown06"
						data-toggle="dropdown" aria-expanded="false">Dropdown</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown06">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li>
				</ul>
				<form>
					<input class="form-control" type="text" placeholder="Search"
						aria-label="Search">
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div id="title">
			<h1>Spring WebFlux Reactive Todo</h1>
		</div>

		<div class="row" id="myDIV">
			<table id="allappTodos" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Description</th>
						<th>Completed?</th>
						<!--<th>Delete</th> -->
					</tr>
				</thead>
				<tbody>
					<tr class="result" data-th-each="todo : ${todos}">
						<td>[[${todo.id}]]</td>
						<td>[[${todo.text}]]</td>
						<td>[[${todo.completed}]]</td>
						<!-- <td><button type="button" -->
						<!-- th:onclick="|deleteRecord(${todo.id})|" -->
						<!-- class="btn btn-sm btn-danger">X</button></td> -->
					</tr>
				</tbody>
			</table>
		</div>

		<br /> <br />
		<div class="col-sm-4">
			<button type="button" th:onclick="|reloadRecords()|"
				class="btn btn-sm btn-success">Load above table Using JS</button>
		</div>
		<br /> <br />
		<table class="table table-sm table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Description</th>
					<th>Completed?</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody id="appDataTable2">

			</tbody>
		</table>

	</div>

</body>

<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function() {
	//alert('DOM ready !');
});

</script>

<script type="text/javascript">

async function deleteRecord(id) {
	
	var url="/api/todo/" + id;
	
	//alert('Selected ID :: ' + id);
	
	if (confirm("Hello, This operation will delete Todo with ID"+ id + ":: Are you sure?")) 
      await fetch(url , { method: 'DELETE',headers: {'Accept': 'application/json'}})
	 
	 .then((response) => {
		 if (response.status >= 400 && response.status < 600) {
	    	 throw new Error("Bad response from server");
	     }
	     if (response.status === 200) {
	    	alert('Delete Successful.. ! \nTable will be reloaded now.!');
	    	reloadRecords();
	    	alert('Will reload entire PAGE now.!');
	    	location.reload();
	     }
	 // alert(response.status);
	 })
	 .catch((error) => {
	    	      // Your error is here!
	    	      alert(error)
	  });
	
	}
	
</script>

<script type="text/javascript">
	async function reloadRecords(){
		await fetch("/api/todos").then(
				res=>{ res.text().then(
						data=>{
							//alert(data);
							data = JSON.parse(data);
							var trtdVar = "";
							data.forEach((u)=>{
								trtdVar += "<tr>";
								trtdVar += "<td>" + u.id+"</td>";
								trtdVar += "<td>" + u.text+"</td>";
								trtdVar += "<td>" + u.completed+"</td><td><a href=\"#\" onclick=\"deleteRecord(" + u.id + ")\" class=\"btn btn-sm btn-danger delBtn\"\>X</a></td></tr>";
							})
							
							document.getElementById("appDataTable2").innerHTML = trtdVar;
						})
				}
			)
		}
</script>
<script type="text/javascript">
 // var x = document.getElementById("someDiv");
 //	  x.style.display = "none";
 
</script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</html>