<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link data-th-href="@{/css/bootstrap.css}" rel="stylesheet">
<link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">WEBFLUX</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExample06" aria-controls="navbarsExample06"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample06">
				<ul class="navbar-nav mr-auto mb-2 mb-xl-0">
					<li class="nav-item active"><a class="nav-link"
						aria-current="page" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/index2">Index2</a></li>
					<li class="nav-item"><a class="nav-link" href="/indexlive">LiveFeed</a></li>
					<li class="nav-item"><a class="nav-link" href="/crud">CRUD</a></li>
					<li class="nav-item"><a class="nav-link" target="_blank" href="/swagger-ui/">SwaggerUI</a></li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown06"
						data-toggle="dropdown" aria-expanded="false">Dropdown</a>
						<ul class="dropdown-menu" aria-labelledby="dropdown06">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else
									here</a></li>
						</ul></li>
				</ul>
				<form>
					<input class="form-control" type="text" placeholder="Search"
						aria-label="Search">
				</form>
			</div>
		</div>
	</nav>
	<div class="container">
		<div id="title">
			<h1>Spring WebFlux Reactive Todo - LiveFeed</h1>
		</div>

		<div class="row" id="myDIV">
			<table id="todos" class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>Description</th>
						<th>Completed?</th>
					</tr>
				</thead>
				<tbody>
					<tr class="result" data-th-each="todo : ${todos}">
						<td>[[${todo.id}]]</td>
						<td>[[${todo.text}]]</td>
						<td>[[${todo.completed}]]</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

</body>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</html>